@charset "utf-8";

.popular_game {
  white-space:nowrap;
  border: 1px;
  overflow:scroll;
  width:100%; 
  height:20rem;
}

.inline-block {
  display: inline-block;
}

.room_title{
  font-size: 2rem;
}

.gamerooms{
  background-color: azure!important;
}